.botao {
    padding: 28px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: #fff;
    background-color: #6278F7;
    font-size: 18px;
    cursor: pointer;
    margin: 8px 0px;
}

.botao:hover{
    color: #95FFD4
}
